.container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	font-size: 14px;
}

.title{
	color: gray;
}

.icon{
	display: flex;
	gap: 10px;
	opacity: 0.6;
	align-items: center;
	cursor: pointer;
	
}